.end-date-column {
    display: none;
  }
.status-column {
    display: none;
  }   
  
  @media (min-width: 800px) {
    .end-date-column {
      display: table-cell;
    }
  }

.attachment-element {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .date-select {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  
  