.size-x {
    display: table-cell;
  }
 .subject-column {
    display: table-cell;
  }
 .status-column {
    display: table-cell;
  } 
 
  .status-column {
    display: table-cell;
  }
  .size-m {
    display: none;
  }
  .end-column {
    display: none;
  }
  .size-l {
    display: none;
  }
  .attachment-element {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .date-select {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  .top-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
  }
  .search-form {
    gap: 0.5rem;
    /* margin-bottom: 1rem; */
    width: 75%
  }

.size-m {
    display: none;
  } 
.size-l {
    display: none;
  }   
/* .status-column {
    display: none;
  }    */
  
  @media (min-width: 800px) {
    .size-m {
      display: table-cell;
    }
    .end-column {
      display: table-cell;
    } 
  }

  @media (min-width: 1000px) {
    .size-l {
      display: table-cell;
    }
  }

  /* @media (min-width: 1000px) {
    .end-date-column {
      display: table-cell;
    }
  } */
.attachment-element {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .date-select {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  .top-row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
  }
  .search-form {
    gap: 0.5rem;
    /* margin-bottom: 1rem; */
    width: 75%
  }

  .message-date {
 /* font-style: italic; */
 font-weight: normal
  }
  
  /* .attachment-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .attachment-table th, .attachment-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .attachment-table .message-row {
    border-bottom: 2px solid #000;
  }
  
  .attachment-table .attachment-row td {
    border-top: none;
  }   */